
  <div id="MasterDiv">

   








<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 8 & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div>



<section class=""
style="background-color: navy;padding-top: 0.1em;height: 212px;position: relative;margin-top: 203px; top: 5px;">
<div class="container text-center text-md-start mt-5">
  <!-- Grid row -->
  <div class="row mt-3">
	<!-- Grid column -->
	<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="color: white;font-size:14px;position: relative;bottom: 20px;">
	  <!-- Content -->
	  <h6 class="text-uppercase fw-bold mb-4">
		<i class="fas fa-gem me-3"></i>Enterprise company
	  </h6>
	  <p>
		The company wishes you best regards
	  </p>
	  <a style="color: white;font-size: 12px;" href="https://mdbootstrap.com/">© 2022 Copyright:
		www.enterprisecompany.com</a>
	</div>
	<!-- Grid column -->

	<!-- Grid column -->
	<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"
	  style="color: white;font-size: 13px;position: relative;bottom: 20px;">
	  <!-- Links -->
	  <h6 class="text-uppercase fw-bold mb-4"  style="font-size: 13px;">
		Contact
	  </h6>
	  <p><i class="fas fa-home me-3" ></i> New York, NY 10012, US</p>
	  <p>
		<i class="fas fa-envelope me-3"></i>
		info@example.com
	  </p>
	  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
	  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>

	</div>

  </div>



</div>



</section>
</div>