
<nav class="navbar navbar-dark bg-primary">



    <div class="container-fluid">



        <span class="ref">User: Gokul</span>

        <button class="btn1" routerLink="/login" routerLinkActive="active"><i class='fas fa-user-circle'
          style='color: white;position: fixed;right: 75px;top: 20px;'></i></button>



        <!-- <button class="btn"   routerLink="/home" routerLinkActive="active"><i class="material-icons"
          style="color: white;position: fixed;right: 25px;top: 15px;">logout</i></button> -->
        <!-- *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"  -->
    </div>
</nav>


<div class="card mt-4">
    <h4 class="card-header">You're logged in!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div>


<div class="mat-elevation-z8">
    <span class="span1">Search</span>
    <mat-form-field class="filter" >
    
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="">
    
    </mat-form-field>
  
   
  
      <mat-table [dataSource]="dataSource"  class="table table-bordered" matSort  >
        <!-- Position Column -->
        <ng-container  matColumnDef="position"  >
          <mat-header-cell    *matHeaderCellDef  mat-sort-header> Employee ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell   *matHeaderCellDef mat-sort-header > Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell  *matHeaderCellDef  >Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            
  
            <button  matTooltip="Add User" style=" border-color: transparent; font-size:26px;color: #5cb85c;" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
              <mat-icon>add_box</mat-icon>
            </button>&nbsp;&nbsp;
    
    
            <button  matTooltip="Edit User" style=' border-color: transparent;font-size:26px;color: #f0ad4e;' mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
              <mat-icon>edit</mat-icon>
            </button>&nbsp;&nbsp;
    
    
            <button  matTooltip="Delete User" style=" border-color: transparent;font-size:26px;color:#d9534f" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
      <mat-paginator  class="paginator" [length]="20" [pageSize]="5" [pageSizeOptions]="[5,10,20]"  aria-label="Select page" showFirstLastButtons >
  
  
      </mat-paginator>
     
  
    </div>
  
    